.counterItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  > div {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  p {
    color: var(--purple);
    font-size: 0.875rem;
    font-weight: 700;
    padding-right: 1rem;
  }
}
